@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
p {
    font-family: 'Roboto Slab', sans-serif;
}

.hero-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.398), rgba(0, 0, 0, 0.822)), url('/uploads/img/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    width: 100%;

}

.hero-section h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 3px;
}
.hero-section p {
    color: #FFF;
    font-size: 17px;
    font-weight: 300;
}